body {
  font-family: "Noto Sans JP", sans-serif;
  background-color: #e9ecef;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 140%;
}

h1 {
  font-size: 2rem;
  font-weight: 400;
}

h2 {
  font-size: 1.5rem;
  font-weight: 400;
}

h3 {
  font-size: 1.25rem;
  font-weight: 300;
}

p {
  font-size: 1rem;
  font-weight: 300;
  margin: 0;
}

a {
  color: rgb(98, 0, 255);
}

a:hover {
  text-decoration: none;
  color: rgb(66, 0, 172);
}

.jumbotron {
  margin: 2rem 0 0rem 0;
}

.jumbotron--large {
  margin: 6rem 0 0rem 0;
}

.underline {
  text-decoration-style: dashed;
  text-decoration-line: underline;
  color: #000000;
}

.primary-btn {
  width: auto;
  border: none;
  height: 3rem;
  border-radius: 0.25rem;
  outline: none;
  cursor: pointer;
  color: #fff;
  transition: all 0.1s ease-in-out;
  margin-top: 2rem;
  white-space: nowrap;
  text-decoration: none;
  text-align: left;
  display: inline-flex;
  align-items: center;
  background-color: rgb(98, 0, 255);
  padding: 0.75rem 2rem;
}

.secondary-btn {
  border: 0;
  color: rgb(98, 0, 255);
  border-radius: 0;
  background-color: #fff;
  display: inline-block;
  font-size: 14px;
  padding: 10px 20px;
  height: auto;
  text-decoration: none !important;
  text-shadow: none;
  width: 220px;
  height: 51px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.18);
}

input {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 16px 18px;
  background-position: 98% 50%;
  cursor: auto;
  border-radius: 0.25rem;
  margin-right: 0;
  line-height: normal;
  padding: 0.35em 1em 0.35rem;
  border: none;
  border: 1px solid #dddfe5;
  border-radius: 0.3rem;
  transition: all 0.1s ease-in-out;
  -webkit-appearance: none;
  overflow: visible;
  height: 3rem;
}

.navbar {
  padding: 1rem 1rem 0 1rem;
}

.navbar__brand {
  display: inline-block;
  margin-right: 1rem;
  font-size: 1.5rem;
  white-space: nowrap;
}

.navbar__contact {
  display: inline-block;
  margin-right: 1rem;
  font-size: 1.25rem;
  white-space: nowrap;
}

.link--muted {
  text-decoration: underline;
  color: #6c757d;
  text-underline-position: under;
}

.showcase__title {
  font-size: 1rem;
  margin-top: 1rem;
}

.showcase__description {
  font-size: 0.85rem;
  font-weight: 400;
  margin-top: 1rem;
}

.product__card {
  width: 100%;
  background-color: rgb(98, 0, 255);
}

.product__image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.product__image:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.product__image--newseon {
  /* background-image: url("https://placehold.co/400x400/white/212529?text=Ne"); */
  background-image: url("newseon.gif");
}

.product__image--medchain {
  /* background-image: url("https://placehold.co/400x400/white/212529?text=Me"); */
  background-image: url("medchain.gif");
}

.product__image--mischief {
  /* background-image: url("https://placehold.co/400x400/white/212529?text=Mi"); */
  background-image: url("mischief-managed.gif");
}

.product__image--kulertown {
  /* background-image: url("https://placehold.co/400x400/white/212529?text=Ku"); */
  background-image: url("kulertown.gif");
}

.product__image--fileexpress {
  /* background-image: url("https://placehold.co/400x400/white/212529?text=Fe"); */
  background-image: url("file-express.gif");
}

.product__image--csgames {
  /* background-image: url("https://placehold.co/400x400/white/212529?text=Fe"); */
  background-image: url("csgames.png");
}

.product__image--eriego {
  /* background-image: url("https://placehold.co/400x400/white/212529?text=Fe"); */
  background-image: url("eriego.png");
}

.product__image--ibmyork {
  /* background-image: url("https://placehold.co/400x400/white/212529?text=Fe"); */
  background-image: url("ibmyork.png");
}

.product__image--kalusto {
  /* background-image: url("https://placehold.co/400x400/white/212529?text=Fe"); */
  background-image: url("kalusto.png");
}

.product__image--pawpatrol {
  /* background-image: url("https://placehold.co/400x400/white/212529?text=Fe"); */
  background-image: url("pawpatrol.png");
}

.product__image--newseonstudy {
  /* background-image: url("https://placehold.co/400x400/white/212529?text=Fe"); */
  background-image: url("newseon-study.png");
}

.product__image--investingfordevs {
  /* background-image: url("https://placehold.co/400x400/white/212529?text=Fe"); */
  background-image: url("investingfordevs.png");
}

.product__image--saasbase {
  /* background-image: url("https://placehold.co/400x400/white/212529?text=Fe"); */
  background-image: url("saasbase.png");
}

.product__title {
  font-weight: 500;
  margin-top: 1rem;
  font-size: 1rem;
}

.product__description {
  font-weight: 300;
  font-size: 0.75rem;
  line-height: 160%;
}

.social__link {
  font-size: 1.5rem;
  margin: 0.5rem;
  color: #000000;
}

.social__link a {
  color: #000;
}

.text--muted {
  margin-left: 0rem;
  color: #6c757d;
}

.hero__lead {
  margin: 1rem 0 1rem 0;
  line-height: 160%;
}

.hero__currents {
  font-weight: 300;
  line-height: 160%;
}

.link-muted {
  color: #6c757d;
  text-decoration: underline;
  text-underline-position: under;
}

.mt-4 {
  margin-top: 2rem !important;
}

.showcase__product {
  margin: 0rem;
}

.showcase__title {
  font-size: 1.25rem;
  margin-top: 1rem;
}

.contact__social {
  text-align: right;
}

.contact__email {
  line-height: 160%;
}

.contact__title {}

.contact__email {
  color: rgb(98, 0, 255) !important;
}

@media all and (max-width: 1199px) {}

@media all and (max-width: 991px) {}

@media all and (max-width: 768px) {

  p,
  ul {
    font-size: 1.25rem;
    line-height: 160%;
  }

  .showcase__title {
    font-size: 2rem;
  }

  .showcase__description {
    font-size: 1.25rem;
  }

  .showcase__product {
    margin: 3rem;
  }

  .product__title {
    font-size: 1.5rem;
  }

  .product__description {
    font-size: 1.5rem;
  }

  .contact__title {
    text-align: center;
    margin: 0.5rem 0 0.5rem 0;
  }

  .contact__social {
    text-align: center;
    margin: 0.5rem 0 0.5rem 0;
  }

  .contact__greeting {
    margin: 0.5rem 0 0.5rem 0;
  }

  .social__link {
    font-size: 2rem;
  }

  .product__image {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
  }

  .footer__copyright {
    text-align: center;
  }

}